.ant-carousel .slick-slide {
  text-align: center;
  height: 400px;
  line-height: 160px;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.image-bg{
  width: 100%;
  height: 100%;
}
/*.image-bg>img{
  width: auto;
  height: auto;
  transform: scale(1);
  margin: 0 auto;
  
  /*filter: brightness(0.6);
  margin-top: -100px;*/