.search{
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 4px -2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 4px -2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: -10px 12px 60px 0px rgba(0,0,0,0.16);
}

.input-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.input-block input{
    border: none;
    color:rgba(0,0,0,0.8);
    width: 55%;
    border-bottom: 0%;

  
    

}
.input-block input:focus{
    outline: none;

}

.input-block input:hover{
    outline: none;
    border-bottom: 1px solid #33bcb7;
    width: 100%;
    transition: width 1s,  border-bottom 3s;
}

